@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

/* General */

* {
    background: #f7f0e6;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-size: 20px;
    font-weight: 500;
}

.row {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 12px;
}

/* Sign In Form */

.HeaderTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGroup--Container {
    max-width: 600px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formControl {
    width: 100%;
    padding: 3px;
    text-indent: 5px;
}

::placeholder {
    font-style: italic;
}

.formGroup label {
    display: block;
    padding-top: 10px;
}

.checkbox {
    padding-bottom: 10px;
}

.buttonPrimary {
    width: 35%;
    padding: 8px 10px;
    border-radius: 25px;
    padding-bottom: 10px;
    background-color: #e99550;
    border: none;
    font-size: large;
    font-weight: 600;
}

.buttonPrimary:hover {
    cursor: pointer;
    opacity: 75%;
}

.buttonPrimary,
.checkbox {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.formGroupBottom {
    display: flex;
    justify-content: space-between;
}

.buttonPrimaryOutline {
    padding: 10px;
    color: black;
}

.buttonPrimaryOutline:hover {
    text-decoration: underline;
}