@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* General */

* {
    background: #f7f0e6;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a { 
    text-decoration: none;
    background-color: transparent;
}

p {
    font-size: 12px;
    font-weight: 100;
}

li{
    list-style-type: none;
    background-color: transparent;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    background-color: transparent;
}

.row {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 12px;
}

/* Landing Page */

.landingPageTitle {
    font-size: 80px;
    text-align: center;
    margin-bottom: 50px;
}

.landingPage--row {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landingPage--sloganContainer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 30px 75px 30px;
}

.landingPage--slogan {
    padding: 0 10px 0 10px;
}

.beige {
    color: #e99550;
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scrollIcon {
    width: 20px;
    height: 30px;
    border: 2px solid black;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollIcon::after {
    content: '';
    width: 4px;
    height: 6px;
    border-radius: 2px;
    background-color: black;
    animation: scroll 800ms infinite alternate-reverse;
}

@keyframes scroll{
    0%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(-3px);
    }
}

/* Sign In Form */

.HeaderTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGroup--container {
    max-width: 600px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formControl {
    position: relative;
    width: 100%;
    padding: 10px;
    text-indent: 5px;
    border: 1px solid;
    border-radius: 50px;
    box-shadow: -15px 10px 20px -10px rgba(0, 0, 0, 0.7);
}

::placeholder {
    font-style: italic;
    font-size: 15px;
}

.formGroup label {
    display: block;
    padding-top: 10px;
    text-indent: 1em;
}

.checkbox label {
    font-size: smaller;
    text-indent: 0em;
    padding-bottom: 10px;
}

.buttonPrimary {
    position: relative;
    width: 35%;
    padding: 8px 10px;
    border-radius: 25px;
    padding-bottom: 10px;
    background-color: #e99550;
    border: none;
    font-size: large;
    box-shadow: 0px 5px 0px 0px rgba(119, 62, 0, 0.7);
}

.buttonPrimary:hover {
    cursor: pointer;
}

.buttonPrimary:active{
    box-shadow: none;
    transform: translateY(5px);
}

.buttonPrimary,
.checkbox {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.formGroupBottom {
    display: flex;
    justify-content: space-between;
}

.buttonPrimaryOutline {
    padding: 10px;
    color: black;
}

.buttonPrimaryOutline:hover {
    text-decoration: underline;
}

/* Forgot Password */

nav{
    height: 50px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    background: linear-gradient(to bottom, #eed7b4,#cc8c58);
    border-bottom: 2px solid #eed7b4;
}

.bugtrackerLogo {
    color: black;
}

.nav--linkList{
    display: flex;
}

.nav--linkAnchor {
    margin: 0 12px;
    color: black;
    transition: color ease-in-out .25s;
}

.nav--linkList a:hover{
    color: white;
}