@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: 'Barlow Condensed', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-weight: 500;
}

.row{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 12px;
}

.HeaderTitle, .signInForm{
    display: flex;
    justify-content: center;
}

.formGroup--Container{
    max-width: 400px;
    margin: 0 auto;
    
}

.formControl{
    width: 100%;
}

.formGroup label{
    display: block;
    padding: 10px 2px ;
}

.buttonPrimary{
    padding: 8px 10px;
    border-radius: 25px;
}

.buttonPrimary, .checkbox{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.checkbox label{
    margin-left: 10px;
}