@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: 'Barlow Condensed', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-weight: 500;
}

.HeaderTitle, .signInForm{
    display: flex;
    justify-content: center;
}

.formGroupWrapper{
    padding: 10px;
}

.formGroup{
    
}