@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

/* General */

* { 
    background-color:#cee8f2;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-size: 20px;
    font-weight: 500;
}

.row{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 12px;
}

/* Sign In Form */

.HeaderTitle, .signInForm{
    display: flex;
    justify-content: center;
}

.formGroup--Container{
    max-width: 400px;
    margin: 0 auto;
}

.formControl{
    width: 100%;
}

.formGroup label{
    display: block;
    padding: 10px 2px ;
}

.buttonPrimary{
    width: 35%;
    padding: 8px 10px;
    border-radius: 25px;
    padding-bottom: 10px;
}

.buttonPrimary, .checkbox{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.formGroupBottom{
    display: flex;
    justify-content: center;
}

.buttonPrimaryOutline{
    padding: 10px;
    color: black;
}

.buttonPrimaryOutline:hover{
    text-decoration: underline;
}