@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

/* General */

* {
    background: #f7f0e6;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h2{
    font-size: 25px;
}

body {
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 12px;
    font-weight: 100;
}

.row {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 12px;
}

/* Landing Page */

.landingPage--container {
    max-width: 100vw;
    height: 100vh;
}

.landingPage--sloganContainer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.landingPage--slogan{
    padding: 10px;
}

.beige {
    color: #e99550;
}


/* Sign In Form */

.HeaderTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGroup--container {
    max-width: 600px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formControl {
    position: relative;
    width: 100%;
    padding: 10px;
    text-indent: 5px;
    border: 1px solid;
    border-radius: 50px;
    box-shadow: -15px 10px 20px -10px rgba(0, 0, 0, 0.7);
}

::placeholder {
    font-style: italic;
    font-size: 15px;
}

.formGroup label {
    display: block;
    padding-top: 10px;
    text-indent: 1em;
}

.checkbox label {
    font-size: smaller;
    text-indent: 0em;
    padding-bottom: 10px;
}

.buttonPrimary {
    position: relative;
    width: 35%;
    padding: 8px 10px;
    border-radius: 25px;
    padding-bottom: 10px;
    background-color: #e99550;
    border: none;
    font-size: large;
    box-shadow: -15px 10px 20px -10px rgba(0, 0, 0, 0.7);
}

.buttonPrimary:hover {
    cursor: pointer;
    opacity: 75%;
}

.buttonPrimary,
.checkbox {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.formGroupBottom {
    display: flex;
    justify-content: space-between;
}

.buttonPrimaryOutline {
    padding: 10px;
    color: black;
}

.buttonPrimaryOutline:hover {
    text-decoration: underline;
}